/**********************************************************************************************/
#container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 95vh;
}

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: whitesmoke;
    grid-row: 1/span 1;
    grid-column: 1/span 12;
    height: 40px;
}

.form_layout{
    grid-column: 1/span 12;
    grid-row: 2 /span 1;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.title_header{
    grid-column: 2/ span 4;
    grid-row: 1/ span 1;
    margin-left: 250px;
}

.subtitle_header{
    grid-column: 3/ span 2;
    grid-row: 2/ span 1;
    margin-left: 50px;
}

.age_label{
    grid-column: 3/ span 2;
    grid-row: 3/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.age_input{
    grid-column: 3/ span 2;
    grid-row: 3/ span 1;
    margin-left: 50px;
    height: 30px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

.age_value{
    grid-column: 3/ span 2;
    grid-row: 4/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    margin-top: -40px;
}


.imc_label{
    margin-top: -90px;
    grid-column: 3/ span 2;
    grid-row: 5/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.imc_input{
    margin-top: -70px;
    grid-column: 3/ span 2;
    grid-row: 5/ span 1;
    margin-left: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
}

.imc_value{
    margin-top: -130px;
    grid-column: 3/ span 2;
    grid-row: 6/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}


.mv_label{
    margin-top: -90px;
    grid-column: 3/ span 2;
    grid-row: 6/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.mv_input{
    margin-top: -70px;
    grid-column: 3/ span 2;
    grid-row: 6/ span 1;
    margin-left: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
}

.mv_value{
    margin-top: -130px;
    grid-column: 3/ span 2;
    grid-row: 7/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}


.ec_label{
    margin-top: -90px;
    grid-column: 3/ span 2;
    grid-row: 7/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.ec_input{
    margin-top: -70px;
    grid-column: 3/ span 2;
    grid-row: 7/ span 1;
    margin-left: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
}

.ec_value{
    margin-top: -130px;
    grid-column: 3/ span 2;
    grid-row: 8/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}

.creatinine_label{
    margin-top: -90px;
    grid-column: 3/ span 2;
    grid-row: 8/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.creatinine_input{
    margin-top: -70px;
    grid-column: 3/ span 2;
    grid-row: 8/ span 1;
    margin-left: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
}

.troponin_label{
    margin-top: -90px;
    grid-column: 3/ span 2;
    grid-row: 9/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.troponin_input{
    margin-top: -70px;
    grid-column: 3/ span 2;
    grid-row: 9/ span 1;
    margin-left: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
}

.lactate_label{
    margin-top: -90px;
    grid-column: 3/ span 2;
    grid-row: 10/ span 1;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.lactate_input{
    margin-top: -70px;
    grid-column: 3/ span 2;
    grid-row: 10/ span 1;
    margin-left: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
}

.submit_button{
    margin-top: -70px;
    grid-column: 3/ span 2;
    grid-row: 11/ span 1;
    background-color:  #e1eedd;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 300px;
}

.submit_button:hover{
    background-color:#fefbe9;
    color: black;
}

