<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/sytle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>Change Name</title>
</head>

<body>

    <div id="container">

        <header>
           
        </header>

        <form action="/" method="POST", class = "form_layout">
            
            <h1 class = "title_header">XXX Prediction App</h1>

            <h2 class = "subtitle_header">Please enter your patient charactetistics</h2>

            <label for="quantity" class = "number_label">Select pacient age:</label>
            <input type="number" name="age" id = "number_input" class = "number_input" placeholder="Age in years" min = 18 max = 99>

            <!-- <label for="quantity" class = "number_label">Select pacient age:</label>
            <input type="range" name="age" id = "age_input" class = "number_input" min = "18" max = "100" step="0.1">
            <p class = "sel_value">Selected value: <output id="value"></output></p>
            <script>
                const value = document.querySelector("#value")
                const input = document.querySelector("#age_input")
                value.textContent = input.value
                input.addEventListener("input", (event) => {
                value.textContent = event.target.value})
            </script> -->
            

         



            <!-- <label for="hom" class = "hom_label">Vive em situação de rua:</label>
            <select name="hom" id="hom" class = "hom_input">
                <option value=1>Sim</option>
                <option value=0>Não</option>
            </select>


            <input class= "submit_button" type = "submit" value = "Submit"> -->
                
        

        </form>


</body>

</html>