<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/sytle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>PROMISE</title>
</head>

<body>
     
    <!--'idade', 'imc', 'cr_pre_op', 'tempo_vm_horas', 'pico_tropo', 'pico_lactato_24h', 'eco_feve'-->

    <div id="container">

        <header>
           
        </header>

        <form action="/" method="POST", class = "form_layout">
            
            <h1 class = "title_header">Predictors related to outcomes after myocardial surgey App</h1>

            <h2 class = "subtitle_header">Please enter your patient charactetistics</h2>


            <label for="age" class = "age_label">Select your pacient age (years):</label>
            <input type="range" name="age" id = "age_range" class = "age_input" min = "18" max = "120" step="1" value = "0">
            <p class = "age_value">Selected value: <output id="age_value"></output></p>
            <script>
                var slider_age = document.getElementById("age_range");
                var output_age = document.getElementById("age_value");
                output_age.innerHTML = slider_age.value;
                
                slider_age.oninput = function() {
                  output_age.innerHTML = this.value;
                }
                </script>

        

            <label for="imc" class = "imc_label">Select your pacient BMI (Kg/m):</label>
            <input type="range" name="imc" id = "imc_range" class = "imc_input" min = "0" max = "100" step="1" value = "0">
            <p class = "imc_value">Selected value: <output id="imc_value"></output></p>
            <script>
                var slider = document.getElementById("imc_range");
                var output = document.getElementById("imc_value");
                output.innerHTML = slider.value;
                
                slider.oninput = function() {
                  output.innerHTML = this.value;
                }
                </script>


            <!-- <label for="mv" class = "mv_label">Time in mechanical ventilation (hours):</label>
            <input type="range" name="mv" id = "mv_range" class = "mv_input" min = "0" max = "48" step="1" value = "0">
            <p class = "mv_value">Selected value: <output id="mv_value"></output></p>
            <script>
                var slider_mv = document.getElementById("mv_range");
                var output_mv = document.getElementById("mv_value");
                output_mv.innerHTML = slider_mv.value;
    
                slider_mv.oninput = function() {
                    output_mv.innerHTML = this.value;
                }
            </script>-->

            <label for="ec" class = "ec_label">Left Ventricular Ejection Fraction (%):</label>
            <input type="range" name="ec" id = "ec_range" class = "ec_input" min = "10" max = "100" step="1" value = "0">
            <p class = "ec_value">Selected value: <output id="ec_value"></output></p>
            <script>
                var slider_ec = document.getElementById("ec_range");
                var output_ec = document.getElementById("ec_value");
                output_ec.innerHTML = slider_ec.value;

                slider_ec.oninput = function() {
                    output_ec.innerHTML = this.value;
                }
            </script>

               
            <label for="creatinine" class = "creatinine_label">Preoperative Creatinine (mg/dL):</label>
            <input type="number" name="creatinine" id = "creatinine_input" class = "creatinine_input" placeholder="Type your value" min = 0.3 max = 15.0 step="0.01" value = "0.3">

            <label for="troponin" class = "troponin_label">Peak Troponin (ng/mL):</label>
            <input type="number" name="troponin" id = "troponin_input" class = "troponin_input" placeholder="Type your value" min = 0 max = 100 step="0.01" value = "0">

            <label for="lactate" class = "lactate_label">Peak lactate  (mmol/L) :</label>
            <input type="number" name="lactate" id = "lactateinput" class = "lactate_input" placeholder="Type your value" min = 0.5 max = 20 step="0.01" value = "0">
          


            <input class= "submit_button" type = "submit" value = "Submit">
                
        

        </form>


</body>

</html>